.social-icons svg{
    transform: scale(3);
    color: #000000;
}

.social-icons a{
    margin:0 20px;
}

.social-icons svg:hover{
    transform: scale(4) !important;
}

.social-icons{
    margin-bottom: 20px;
}

.home{
    padding : 70px 0;
}

.home h1{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    
    font-size: 40px !important;
}

.home p{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    
    font-size: 20px !important;
}

.home a{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    
    font-size: 20px !important;
}

.profile-image {
    width: 400px;
    border-radius: 50%;

    background-color:transparent;
}

.profile-image-div{
    width: 405px;
    background-color:transparent;
    border-radius: 50%;

    transition: background-color 2s;
}

.profile-image-div:hover{
    background-color:aqua;

    transition: background-color 2s;
}

.navbar-brand{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    
    font-size: 40px !important;
}

a.navbar-brand{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}

.navbar-brand img{
    border-radius: 50%;
    
    object-fit: cover;
    width: 60px;
    height: 60px;
}

.navbar a{
    font-size: 30px;
}

.navbar a:hover{
    padding-right: 5px;
    background-color: white;
    border-radius: 10px;
}

html {
    font-size: 14px;
  }
  
@media (min-width: 768px) {
  html {
      font-size: 16px;
    }
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  
  @keyframes st_move{
      0% {
          transform: translateX(-100%);
          opacity: 0;
      }
  
      50% {
          transform: translateX(-25%);
          opacity: 1;
      }
  
      100% {
          transform: translateX(50%);
          opacity:0;
      }
  }
  
  @media (max-width: 575.98px) {
      .goldmen img {
          width: 80%;
      }
  
      .all-medalists img {
          width: 80%;
      }
  
      .pdp img {
          width: 80%;
      }
  }
  
  /* Mobile devices */
  @media (min-width: 576px) and (max-width: 767.98px) {
      .goldmen img {
          width: 80%;
      }
  
      .all-medalists img {
          width: 80%;
      }
  
      .pdp img {
          width: 80%;
      }
  }
  
  /* Large mobile devices */
  @media (min-width: 768px) and (max-width: 991.98px) {
      .goldmen img {
          .goldmen img
  
  {
      width: 80%;
  }
  
  .all-medalists img {
      width: 80%;
  }
  
  .pdp img {
      width: 80%;
  }
  }
  
  /* Portrait mode tablets */
  @media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
      .goldmen img {
          width: 80%;
      }
  
      .all-medalists img {
          width: 80%;
      }
  
      .pdp img {
          width: 80%;
      }
  }
  
  /* Landscape mode tablets */
  @media (min-width: 992px) and (max-width: 1199.98px) and (orientation: landscape) {
      .goldmen img {
          width: 80%;
      }
  
      .all-medalists img {
          width: 80%;
      }
  
      .pdp img {
          width: 80%;
      }
  }
  
  @media (min-width: 1400px) {
      .container{
          max-width: 1140px;
      }
  
      .shadow-box{
          max-width: 60%;
      }
  
      .content{
          max-width: 60%;
      }
  
      .goldmen {
          height: 500px;
          width: auto;
      }
  
      .all-medalists {
          height: 500px;
          width:auto;
      }
  
      .pdp {
          height: 500px;
          width:auto;
      }
  }
  
  @media (prefers-color-scheme: dark) {
      .toggle-container {
          display: block;
      }
  
  
      .light-mode {
          background-color: #ffffff;
          color: #000000;
      }
  
      /* Dark mode styles */
      .dark-mode {
          background-color: #000000;
          color: #ffffff;
      }
  }
}

.main-info{
    vertical-align: middle;
}

.footer {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

body{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #91EAE4, #86A8E7, #91EAE4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #91EAE4, #86A8E7, #91EAE4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}